@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 70px;
    background-color: antiquewhite;
}
#header_bg{
    width: 80%;
    margin: 0 10%;
    background-color: #ffd0c8;
    min-width: 800px;
}
.head_h1{
    height: 70px;
    line-height: 70px;
    margin: 0 0 0 50px;
    color: red;
    display: inline-block;
    font-size: 40px ;
}
.head_nav{
    display: inline-block;
    float: right;
    margin: 0 50px 0 0;
    width: 48%;
}
header li{
    background-color: #ff8675;
    color: #faf8e5;
    height: 70px;
    line-height: 70px;
    width: 25%;
    display: inline-block;
    list-style:none;
    font-size: 26px;
    border: none;
    text-align: center ;
    float: left;
}
.active,nav a li:hover {
   background-color: #ff3822;
}
#div_body {
    width: 80%;
    margin: 0 10%;
    background-color: #fffae5;
    height: 1330px;
    clear: both;
    min-width: 800px;
}
#search_img {
    margin:0;
    position: relative;
}
.search_center {
    height: 50px;
    width: 60%;
    position: absolute;
    top: 32%;
    left: 20%;
    background-color: rgba(300,300,300,0.5);
    border-radius: 10px ;
}
.search_center input {
    width: 86%;
    height: 42px;
    background-color: rgba(300,300,300,0.5) ;
    margin: 4px 0 0 2%;
    border: 0;
    font-size: 24px;
    border-radius: 10px;
    color: #ff5c24;
    outline: none
}
.search_center button {
    width:8% ;
    height: 42px;
    border: 0;
    background-color: rgba(300,300,300,0.5) ;
    font-size: 20px;
    outline: none ;
    color: #ff4234;
    border-radius: 10px;
    margin:4px 2% 0 0 ;
    cursor:pointer;
}
.hot_title {
    text-align: center ;
    margin: 20px ;
}
.hot_title h2{
    font-size: 24px;
}
.hot_title h3{
    font-weight: normal;
    font-size: 14px;
    margin: 5px ;
}
figure{
    border: 1px solid #ccc;
    display: inline-block;
    width: 30%;
    height: 372px;
    position: relative;
}
.hot_book1 {
    margin: 10px 0.5%;
}
img{
    margin: 0 10%;
}
figcaption{
    font-size: 14px;
    color: black;
    text-indent: 6px;
    margin-left: 2%;
    margin-top: 7px;
}
figcaption a{
    text-decoration:none ;
    color: black;
    display: inline;
}
figcaption  a:hover{
    color:#f60 ;
}
figcaption  a:active {
    color: #ff869a;
}
.price{
    color:#f60;
    font-size: 20px;
    letter-spacing: 1px;
    font-style: normal;
    font-weight: bolder;
    display: inline-block;
    position: absolute;
    bottom: 3px;
    left: 5%;
}
.sat{
    color: #fa9c6f;
    font-size: 14px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 5px;
    right: 5%;
}
.type{
    background: #59b200;
    color: #fff;
    font-size: 18px;
    width: 22%;
    text-align: center ;
    position: absolute;
    top:0;
    left:0;
}
.loading {
    width:20% ;
    height: 42px;
    border: 1px solid #ccc;
    background-color: rgba(250,250,250,0.3) ;
    font-size: 20px;
    outline: none ;
    color: #ff4536;
    border-radius: 10px;
    cursor:pointer;
    margin:20px 38%;
 }
footer {
    min-width: 1000px;
}
.footer_top{
    margin:0 10%;
    width: 80%;
    background-color: #ffe9db;
    height: 100px;
}
.top {
    display: inline-block;
    width: 30%;
    text-align: center;
    color: #aaa;
    margin: 10px auto 20px;
}
.footer_bottom{
    background-color:lightpink ;
    text-align: center ;
    font-size: 16px;
    color: #f1f7fa;
    width: 100%;
    height: 60px;
    padding-top: 10px;
}